


#topbar {

    width: 1000px;
    margin: 0 auto;
    height: 40px;
    background-color:red;

}

#logo {

    margin-top: 8px;
    width: 100px;
    float:left;
    margin-right:8px;

}

#signin-text {

    font-weight:bold;
    position: relative;
    top: 14px;

}

.topbar-section {

    float:left;
    border-left:1px #CCCCCC solid;
    height:100%;

}

body {

    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif;

}






