
body {

    margin:0;
    border:0;
    font-family: 'Architects Daughter', cursive, KaiTi;
    font-size:140%;

}

.rats>img {

    width:200px;
    height:200px;
    opacity:0.8;

}

.rats {

    position:fixed;

}

#result {

    background-color:#4285F4;
    width:500px;
    opacity:0.8;
    border-radius: 10px;
    position:fixed;
    margin:20px 450px;
    font-family: 'Architects Daughter', cursive, KaiTi;
    font-size: 200%;

}

#scoreline {

    font-size: 150%;
    font-weight:bold;

}


@media only screen and (max-width: 640px) {

    .rats>img {

        width:80px;
        height:80px;
        opacity:0.8;

    }

}


